@charset "UTF-8";
main .test_container_main .container .texto, main .texto {
  margin-bottom: 0.1rem;
  font-size: 1rem;
  text-shadow: 2px 2px 2px #4a4949c6; }
  main .test_container_main .container .texto p, main .texto p {
    margin-bottom: 1.2rem; }

main .index_container_main .container .texto, main .index_container_main .container .texto p {
  margin-bottom: 0; }

main, main .index_container_main, main .test_container_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  word-wrap: break-word;
  text-align: justify; }

main .index_container_main .container, main .test_container_main .container {
  padding: 1.5rem;
  align-items: center;
  justify-self: center;
  border: 0.7px solid yellowgreen;
  border-radius: 25px;
  box-shadow: 1px 2px #e0dd2494, 2px 2px 4px #e0dd2494, 4px 4px 8px #e0dd2494, 8px 8px 16px #e0dd2494, -1px -1px 2px #e0dd2494, -2px -2px 4px #e0dd2494, -4px -4px 8px #e0dd2494, -8px -8px 16px #e0dd2494; }

main .img_mid_text, main .img_mid_text_online {
  display: flex;
  gap: .8rem;
  margin-bottom: 1.5rem;
  max-width: 95%;
  justify-content: center; }

main .index_container_main .container_color, main .index_container_main .container_img, main .img_mid_text .img_mobi_no_show, main .img_mid_text .img_mobi_no_show2, main .img_mid_text_online .img_mobi_no_show, main .img_mid_text_online .img_mobi_no_show2 {
  display: none; }

main .index_container_main .container .titulo_texto, main .test_container_main .container .titulo_texto {
  margin-top: 0;
  margin-bottom: 10px;
  text-shadow: 4px 4px 4px #fd4f4f, -1px -1px 3px rgba(0, 0, 0, 0.376471);
  font-weight: bold;
  color: #f4d32d;
  font-size: 1.5rem;
  text-align: center; }

.volver a:link, .volver a:visited {
  color: white;
  text-decoration-line: none; }

/* ****************************************************** */
/* ****************************************************** */
/* -1. PRE-CARGA DE ELEMENTOS */
@font-face {
  font-family: dead-stock-font;
  src: url(../font/dead_stock_font.ttf); }

/* ****************************************************** */
/* ****************************************************** */
/* 0. RESET + BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  background-color: #1a1A1D;
  color: whitesmoke;
  font-family: 'DM Sans', sans-serif;
  align-self: center; }

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* VERSION MOBILE */
/* ****************************************************** */
/* MENU DE NAVEGACION */
nav {
  margin: 1rem 1rem 2rem 1rem;
  box-shadow: 4px 4px 10px 5px #fd4f4f, -4px -4px 10px 5px #fbfb00d2;
  border-radius: 17.5px;
  background-color: #171717; }
  nav .container-fluid .navbar-brand img {
    height: 60px;
    filter: drop-shadow(0.5px 0.5px 20px #4d4d4d); }

/* ****************************************************** */
/* ****************************************************** */
/* 1. ESTILOS DE HEADER */
header {
  text-align: center;
  font-size: 3rem; }
  header .texto_header {
    font-family: dead-stock-font;
    color: #f4d32d; }
    header .texto_header:first-child {
      text-shadow: 2px 2px 3px #fd4f4f;
      animation-name: texto-latido;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-direction: alternate-reverse; }
    header .texto_header:last-child {
      transform: rotateX(180deg) translateX(15%) translateY(35px) skewX(-40deg);
      opacity: .4;
      width: 80%; }

/* ****************************************************** */
/* ****************************************************** */
/* 2. ESTILOS DE MAIN */
main .index_container_main .container .texto {
  font-size: 1rem;
  text-shadow: 2px 2px 2px #4a4949c6; }

main .index_container_main .container_carousel {
  height: 100%;
  width: 100%;
  max-width: 500px; }
  main .index_container_main .container_carousel .carousel-inner {
    border-radius: 25px;
    box-shadow: 1px 2px #7264649a, 2px 2px 4px #7264649a, 4px 4px 8px #7264649a, 8px 8px 16px #7264649a, -1px -1px 2px #7264649a, -2px -2px 4px #7264649a, -4px -4px 8px #7264649a, -8px -8px 16px #7264649a; }
    main .index_container_main .container_carousel .carousel-inner .carousel-item img {
      border-radius: 25px; }

main .index_container_main .container_logo {
  align-items: center;
  justify-self: center; }
  main .index_container_main .container_logo a img {
    width: 80vw; }

main h1 {
  margin-top: 4px;
  margin-bottom: 4px;
  text-shadow: 4px 3px 3px #8a2a2a57, -1px -1px 3px rgba(0, 0, 0, 0.376471);
  font-weight: bolder;
  color: #ff0000;
  font-size: 1.35rem;
  text-align: center; }

main .img_mid_text img {
  max-width: 50%;
  box-shadow: 1px 2px #7264649a, 2px 2px 4px #7264649a, 4px 4px 8px #7264649a, 8px 8px 16px #7264649a, -1px -1px 2px #7264649a, -2px -2px 4px #7264649a, -4px -4px 8px #7264649a, -8px -8px 16px #7264649a; }

main .img_mid_text_online img {
  max-width: 100%; }

main form {
  border: 2px solid yellowgreen;
  border-radius: 25px;
  box-shadow: 1px 2px #e0dd2494, 2px 2px 4px #e0dd2494, 4px 4px 8px #e0dd2494, 8px 8px 16px #e0dd2494, -1px -1px 2px #e0dd2494, -2px -2px 4px #e0dd2494, -4px -4px 8px #e0dd2494, -8px -8px 16px #e0dd2494;
  padding: 1rem;
  text-shadow: 2px 2px 2px #4a4949c6; }
  main form div {
    margin: 10px;
    padding: 2px; }

/* ****************************************************** */
/* Formato Botón Regreso */
.volver {
  margin-top: 1rem;
  background-color: #ec0000;
  border: none;
  color: #1a1A1D;
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 #00000033, 0 6px 20px 0 #00000033; }

/* ****************************************************** */
/* ****************************************************** */
/* 3. ESTILOS DE FOOTER */
footer {
  position: static;
  bottom: 1px;
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-shadow: 4px 4px 3px #ff02029c;
  color: #e90000; }

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* VERSION TABLET */
@media screen and (min-width: 640px) {
  /* ****************************************************** */
  /* MENU DE NAVEGACION */
  nav .container-fluid #navbarSupportedContent ul li {
    font-size: 1.1rem; }
  /* ****************************************************** */
  /* ****************************************************** */
  /* 1. ESTILOS DE HEADER */
  header .texto_header {
    font-size: 3.3rem; }
  /* ****************************************************** */
  /* ****************************************************** */
  /* 2. ESTILOS DE MAIN */
  main .index_container_main {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 7);
    padding: 0.3rem;
    gap: 2.5rem;
    grid-template-areas: "cont_que       img_1    " "img_2          cont_qns " "cont_o1        img_3    " "img_4          cont_o2  " "cont_o3        img_5    " "img_6          img_6    " "cont_mis       cont_mis "; }
    main .index_container_main .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 340px;
      width: 100%; }
      main .index_container_main .container .titulo_texto {
        font-size: 1.65rem; }
      main .index_container_main .container .texto {
        text-align: center;
        font-size: 1.1rem; }
      main .index_container_main .container:nth-child(1) {
        grid-area: cont_que; }
      main .index_container_main .container:nth-child(3) {
        grid-area: cont_qns; }
      main .index_container_main .container:nth-child(5) {
        grid-area: cont_o1; }
      main .index_container_main .container:nth-child(6) {
        grid-area: cont_o3; }
      main .index_container_main .container:nth-child(7) {
        grid-area: cont_o2; }
      main .index_container_main .container:nth-child(8) {
        grid-area: cont_mis; }
        main .index_container_main .container:nth-child(8) .titulo_texto {
          font-size: 2.1rem; }
        main .index_container_main .container:nth-child(8) .texto {
          font-size: 1.4rem; }
    main .index_container_main .container_carousel {
      display: none; }
    main .index_container_main .container_logo {
      display: none; }
    main .index_container_main .container_img {
      display: inline-block;
      align-items: center;
      justify-self: center;
      min-height: 300px;
      height: 100%;
      width: 100%;
      border-radius: 25px;
      box-shadow: 1px 2px #7264649a, 2px 2px 4px #7264649a, 4px 4px 8px #7264649a, 8px 8px 16px #7264649a, -1px -1px 2px #7264649a, -2px -2px 4px #7264649a, -4px -4px 8px #7264649a, -8px -8px 16px #7264649a; }
      main .index_container_main .container_img img {
        border-radius: 25px;
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: grayscale(100%); }
      main .index_container_main .container_img:nth-child(9) {
        grid-area: img_1; }
      main .index_container_main .container_img:nth-child(10) {
        grid-area: img_2; }
      main .index_container_main .container_img:nth-child(11) {
        grid-area: img_3; }
      main .index_container_main .container_img:nth-child(12) {
        grid-area: img_4; }
      main .index_container_main .container_img:nth-child(13) {
        grid-area: img_5; }
      main .index_container_main .container_img:nth-child(14) {
        grid-area: img_6;
        max-height: 400px; }
      main .index_container_main .container_img:nth-child(15) {
        display: none; }
      main .index_container_main .container_img:nth-child(16) {
        display: none; }
      main .index_container_main .container_img:nth-child(17) {
        display: none; }
      main .index_container_main .container_img:nth-child(18) {
        display: none; }
  main .test_container_main {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    padding: 0.3rem;
    gap: 2.5rem;
    grid-template-areas: "t1       t2    " "t3       t4    "; }
    main .test_container_main .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%; }
      main .test_container_main .container .titulo_texto {
        font-size: 1.65rem; }
      main .test_container_main .container .texto {
        text-align: center;
        font-size: 1.1rem; }
      main .test_container_main .container:nth-child(1) {
        grid-area: t1; }
      main .test_container_main .container:nth-child(2) {
        display: t2;
        box-shadow: 1px 2px #e4302088, 2px 2px 4px #e4302088, 4px 4px 8px #e4302088, 8px 8px 16px #e4302088, -1px -1px 2px #e4302088, -2px -2px 4px #e4302088, -4px -4px 8px #e4302088, -8px -8px 16px #e4302088; }
      main .test_container_main .container:nth-child(3) {
        grid-area: t3;
        box-shadow: 1px 2px #ffbc40, 2px 2px 4px #ffbc40, 4px 4px 8px #ffbc40, 8px 8px 16px #ffbc40, -1px -1px 2px #ffbc40, -2px -2px 4px #ffbc40, -4px -4px 8px #ffbc40, -8px -8px 16px #ffbc40; }
      main .test_container_main .container:nth-child(4) {
        grid-area: t4;
        box-shadow: 1px 2px #d2ffa2, 2px 2px 4px #d2ffa2, 4px 4px 8px #d2ffa2, 8px 8px 16px #d2ffa2, -1px -1px 2px #d2ffa2, -2px -2px 4px #d2ffa2, -4px -4px 8px #d2ffa2, -8px -8px 16px #d2ffa2; }
  main h1 {
    align-self: flex-start;
    font-size: 1.485rem; }
  main .texto {
    font-size: 1.1rem; }
  main .img_mid_text img {
    max-width: 30%; }
  main .img_mid_text .img_mobi_no_show {
    display: inline;
    max-width: 30%; }
  main .img_mid_text_online img {
    max-width: 50%; }
  main .img_mid_text_online .img_mobi_no_show {
    display: inline;
    max-width: 50%; }
  form {
    font-size: 1.1rem; }
  /* ****************************************************** */
  /* ****************************************************** */
  /* 3. ESTILOS DE FOOTER */
  footer {
    font-size: 1.1rem;
    font-weight: bolder; }
    footer .no_show {
      display: inline; } }

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) {
  /* ****************************************************** */
  /* MENU DE NAVEGACION */
  nav .container-fluid #navbarSupportedContent ul li {
    font-size: 1.25rem; }
  /* ****************************************************** */
  /* ****************************************************** */
  /* 1. ESTILOS DE HEADER */
  header .texto_header {
    font-size: 3.75rem; }
  /* ****************************************************** */
  /* ****************************************************** */
  /* 2. ESTILOS DE MAIN */
  main .index_container_main {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 7);
    padding: 0.3rem;
    gap: 2.5rem;
    grid-template-areas: "img_1       logo       logo     " "cont_qns    logo       logo     " "img_2       cont_que   img_3    " "cont_o1     img_4      cont_o3  " "img_5       cont_o2    img_6    " "img_7       img_8      img_8    " "cont_mis    cont_mis   cont_mis "; }
    main .index_container_main .container .titulo_texto {
      font-size: 1.875rem; }
    main .index_container_main .container .texto {
      font-size: 1.25rem; }
    main .index_container_main .container:nth-child(8) {
      grid-area: cont_mis; }
      main .index_container_main .container:nth-child(8) .titulo_texto {
        font-size: 2.4rem; }
      main .index_container_main .container:nth-child(8) .texto {
        font-size: 1.7rem; }
    main .index_container_main .container_logo {
      display: inline;
      grid-area: logo; }
      main .index_container_main .container_logo a img {
        height: 100%;
        width: 100%; }
    main .index_container_main .container_img:nth-child(15) {
      grid-area: img_7;
      display: inline; }
    main .index_container_main .container_img:nth-child(16) {
      grid-area: img_8;
      display: inline; }
  main .test_container_main .container .titulo_texto {
    font-size: 1.875rem; }
  main .test_container_main .container .texto {
    font-size: 1.25rem; }
  main h1 {
    align-self: flex-start;
    font-size: 1.6875rem; }
  main .texto {
    font-size: 1.25rem; }
  main .img_mid_text img {
    max-width: 25%; }
  main .img_mid_text .img_mobi_no_show {
    max-width: 25%; }
  main .img_mid_text .img_mobi_no_show2 {
    display: inline;
    max-width: 25%; }
  main .img_mid_text_online img {
    max-width: 33%; }
  main .img_mid_text_online .img_mobi_no_show {
    max-width: 33%; }
  main .img_mid_text_online .img_mobi_no_show2 {
    display: inline;
    max-width: 33%; }
  form {
    font-size: 1.25rem; }
  .volver:hover {
    padding: 4px 8px;
    font-size: 0.85rem;
    background-color: #1a1A1D;
    border: 2px solid #ec0000; } }

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* 4. SCSS - ANIMACIONES */
/* ANIMACIONES */
/* ****************************************************** */
@keyframes texto-latido {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.97); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.03); }
  100% {
    transform: scale(1); } }
