// SASS PROYECTO FINAL
// Autor: Gonzalo Salazar

// SCSS
// Archivos secundarios de SASS - Utilidades
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";

/* ****************************************************** */
/* ****************************************************** */
/* -1. PRE-CARGA DE ELEMENTOS */
@font-face {
    font-family: dead-stock-font;
    src: url(../font/dead_stock_font.ttf);
}

;


/* ****************************************************** */
/* ****************************************************** */
/* 0. RESET + BODY */

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

// BODY
body {
    background-color: $color-fondo;
    color: $color-texto;
    font-family: 'DM Sans', sans-serif;
    align-self: center;
}

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* VERSION MOBILE */

/* ****************************************************** */
/* MENU DE NAVEGACION */

nav {
    @include nav-style;

    .container-fluid {
        .navbar-brand {
            img {
                height: $size-logo;
                filter: drop-shadow(0.5px .5px 20px $color-sombra-logo);
            }
        }
    }
}

/* ****************************************************** */
/* ****************************************************** */
/* 1. ESTILOS DE HEADER */

header {
    text-align: center;
    font-size: $size-header;
    // margin-bottom: -2rem;

    .texto_header {
        font-family: dead-stock-font;
        color: $color-t1;

        &:first-child {
            @include sombra-texto(2px, 2px, 3px, $color-sombra-t2);
            @include animation(texto-latido);
        }

        &:last-child {
            @include reflejo-texto;
        }
    }
}

/* ****************************************************** */
/* ****************************************************** */
/* 2. ESTILOS DE MAIN */

main {

    @extend %estilos-flex;

    .index_container_main {
        @extend %estilos-flex;

        .container {
            @extend %estilos-self-container;

            .titulo_texto {
                @extend %estilos-titulo-texto
            }

            .texto {
                @extend %estilo-margin-bottom;
                font-size: $size-font;
                @include sombra-texto(2px, 2px, 2px, $color-sombra-texto);

                p {
                    @extend %estilo-margin-bottom;
                }
            }
        }

        // Estilo carrusel home
        .container_carousel {
            height: $height;
            width: $width;
            max-width: $max-width-carousel;

            .carousel-inner {
                border-radius: $border-radius;
                @include neon-shadow($color-sombra-box-img, $color-sombra-box-img);

                .carousel-item {
                    img {
                        border-radius: $border-radius;
                    }
                }
            }

        }

        .container_logo {
            align-items: center;
            justify-self: center;

            a {
                img {
                    width: $width-img-logo;
                }
            }
        }

        .container_color {
            @extend %estilos-ocultos;
        }

        .container_img {
            @extend %estilos-ocultos;
        }
    }


    .test_container_main {
        @extend %estilos-flex;

        .container {
            @extend %estilos-self-container;

            .titulo_texto {
                @extend %estilos-titulo-texto;
            }

            @extend %estilos-texto;
        }

    }

    // Formato Títulos
    h1 {
        @include text_style(4px, 4px, 3px, 3px, $color-sombra-t2-2, bolder, $color-t2, $size-t2);
        text-align: center;
    }

    // Formato Textos
    @extend %estilos-texto;

    //  Formato bloque de imágenes en medio de texto 
    .img_mid_text {
        @extend %estilos-flex-img-text;

        img {
            max-width: $max-width-img-mid-text-mobile;
            @include neon-shadow($color-sombra-box-img, $color-sombra-box-img);

        }

        .img_mobi_no_show {
            @extend %estilos-ocultos;
        }

        .img_mobi_no_show2 {
            @extend %estilos-ocultos;
        }
    }

    .img_mid_text_online {
        @extend %estilos-flex-img-text;

        img {
            max-width: $max-width-img-mid-text-online-mobile;
        }

        .img_mobi_no_show {
            @extend %estilos-ocultos;
        }

        .img_mobi_no_show2 {
            @extend %estilos-ocultos;
        }
    }


    // Formato formulario
    form {
        @include formulario;
    }
}

/* ****************************************************** */
/* Formato Botón Regreso */
.volver {
    @include boton-volver;

    a {
        &:link {
            @extend %estilos-volver;
        }

        &:visited {
            @extend %estilos-volver;
        }
    }
}

/* ****************************************************** */
/* ****************************************************** */
/* 3. ESTILOS DE FOOTER */

footer {
    @include estilo-footer;
}


/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* VERSION TABLET */
@media screen and (min-width:640px) {

    /* ****************************************************** */
    /* MENU DE NAVEGACION */

    nav {
        .container-fluid {
            #navbarSupportedContent {
                ul {
                    li {
                        font-size: $size-font*$size-increase-tablet;
                    }
                }
            }
        }
    }

    /* ****************************************************** */
    /* ****************************************************** */
    /* 1. ESTILOS DE HEADER */

    header {
        .texto_header {
            font-size: $size-header*$size-increase-tablet;
        }
    }

    /* ****************************************************** */
    /* ****************************************************** */
    /* 2. ESTILOS DE MAIN */

    main {
        // word-wrap: break-word;

        .index_container_main {

            @include grid(2, 7);

            grid-template-areas:
                "cont_que       img_1    "
                "img_2          cont_qns "
                "cont_o1        img_3    "
                "img_4          cont_o2  "
                "cont_o3        img_5    "
                "img_6          img_6    "
                "cont_mis       cont_mis ";

            // Estilo carrusel home
            .container {
                @include flex;
                min-height: 340px;
                width: $width;

                .titulo_texto {
                    font-size: $size-t1*$size-increase-tablet;
                }

                .texto {
                    text-align: center;
                    font-size: $size-font*$size-increase-tablet;
                }

                &:nth-child(1) {
                    grid-area: cont_que;
                }

                &:nth-child(3) {
                    grid-area: cont_qns;
                }

                &:nth-child(5) {
                    grid-area: cont_o1;
                }

                &:nth-child(6) {
                    grid-area: cont_o3;
                }

                &:nth-child(7) {
                    grid-area: cont_o2;
                }

                &:nth-child(8) {
                    grid-area: cont_mis;

                    .titulo_texto {
                        font-size: $size-t1*1.4;
                    }

                    .texto {
                        font-size: $size-font*1.4;
                    }

                }
            }

            .container_carousel {
                display: none;
            }

            .container_logo {
                display: none;
            }

            .container_img {
                @include img_container_flex_self;

                img {
                    @include img_container_grid;
                }

                &:nth-child(9) {
                    grid-area: img_1;
                }

                &:nth-child(10) {
                    grid-area: img_2;
                }

                &:nth-child(11) {
                    grid-area: img_3;
                }

                &:nth-child(12) {
                    grid-area: img_4;
                }

                &:nth-child(13) {
                    grid-area: img_5;
                }

                &:nth-child(14) {
                    grid-area: img_6;
                    max-height: 400px;
                }

                &:nth-child(15) {
                    display: none;
                }

                &:nth-child(16) {
                    display: none;
                }

                &:nth-child(17) {
                    display: none;
                }

                &:nth-child(18) {
                    display: none;
                }
            }
        }

        .test_container_main {
            @include grid(2, 2);

            grid-template-areas:
                "t1       t2    "
                "t3       t4    ";

            .container {
                @include container_tes_flex;

                .titulo_texto {
                    font-size: $size-t1*$size-increase-tablet;
                }

                .texto {
                    text-align: center;
                    font-size: $size-font*$size-increase-tablet;
                }

                &:nth-child(1) {
                    grid-area: t1;

                }

                &:nth-child(2) {
                    display: t2;
                    @include neon-shadow($color-sombra-box-tes1, $color-sombra-box-tes1);
                }

                &:nth-child(3) {
                    grid-area: t3;
                    @include neon-shadow($color-sombra-box-tes2, $color-sombra-box-tes2);
                }

                &:nth-child(4) {
                    grid-area: t4;
                    @include neon-shadow($color-sombra-box-tes3, $color-sombra-box-tes3);
                }

            }
        }

        // Formato títulos
        h1 {
            @include flex-align;
            font-size: $size-t2*$size-increase-tablet;
        }

        .texto {
            font-size: $size-font*$size-increase-tablet;
        }

        // Formato bloque de imágenes en medio de texto
        .img_mid_text {
            img {
                max-width: $max-width-img-mid-text-tablet;
            }

            .img_mobi_no_show {
                display: inline;
                max-width: $max-width-img-mid-text-tablet;
            }
        }

        .img_mid_text_online {
            img {
                max-width: $max-width-img-mid-text-online-tablet;
            }

            .img_mobi_no_show {
                display: inline;
                max-width: $max-width-img-mid-text-online-tablet;
            }
        }

    }

    // Formato formulario
    form {
        font-size: $size-font*$size-increase-tablet;
    }

    /* ****************************************************** */
    /* ****************************************************** */
    /* 3. ESTILOS DE FOOTER */

    footer {

        font-size: $size-font-footer*1.375;
        font-weight: bolder;

        .no_show {
            display: inline;
        }
    }

}


/* VERSION DESKTOP */
@media screen and (min-width:1024px) {

    /* ****************************************************** */
    /* MENU DE NAVEGACION */

    nav {
        .container-fluid {
            #navbarSupportedContent {
                ul {
                    li {
                        font-size: $size-font*$size-increase-desktop;
                    }
                }
            }
        }
    }

    /* ****************************************************** */
    /* ****************************************************** */
    /* 1. ESTILOS DE HEADER */

    header {
        .texto_header {
            font-size: $size-header*$size-increase-desktop;
        }
    }

    /* ****************************************************** */
    /* ****************************************************** */
    /* 2. ESTILOS DE MAIN */

    main {

        .index_container_main {
            @include grid(3, 7);

            grid-template-areas:
                "img_1       logo       logo     "
                "cont_qns    logo       logo     "
                "img_2       cont_que   img_3    "
                "cont_o1     img_4      cont_o3  "
                "img_5       cont_o2    img_6    "
                "img_7       img_8      img_8    "
                "cont_mis    cont_mis   cont_mis ";

            // Estilo carrusel home
            .container {

                .titulo_texto {
                    font-size: $size-t1*$size-increase-desktop;
                }

                .texto {
                    font-size: $size-font*$size-increase-desktop;
                }

                &:nth-child(8) {
                    grid-area: cont_mis;

                    .titulo_texto {
                        font-size: $size-t1*1.6;
                    }

                    .texto {
                        font-size: $size-font*1.7;
                    }

                }
            }

            .container_logo {
                display: inline;
                grid-area: logo;

                a {
                    img {
                        height: $height;
                        width: $width;
                    }
                }
            }

            .container_img {

                &:nth-child(15) {
                    grid-area: img_7;
                    display: inline;
                }

                &:nth-child(16) {
                    grid-area: img_8;
                    display: inline;
                }

            }

        }

        .test_container_main {

            // Estilo carrusel home
            .container {
                .titulo_texto {
                    font-size: $size-t1*$size-increase-desktop;
                }

                .texto {
                    font-size: $size-font*$size-increase-desktop;
                }
            }
        }

        // Formato títulos
        h1 {
            @include flex-align;
            font-size: $size-t2*$size-increase-desktop;
        }

        .texto {
            font-size: $size-font*$size-increase-desktop;
        }

        // Formato bloque de imágenes en medio de texto
        .img_mid_text {
            img {
                max-width: $max-width-img-mid-text-desktop;
            }

            .img_mobi_no_show {
                max-width: $max-width-img-mid-text-desktop;
            }

            .img_mobi_no_show2 {
                display: inline;
                max-width: $max-width-img-mid-text-desktop;
            }
        }

        .img_mid_text_online {
            img {
                max-width: $max-width-img-mid-text-online-desktop;
            }

            .img_mobi_no_show {
                max-width: $max-width-img-mid-text-online-desktop;
            }

            .img_mobi_no_show2 {
                display: inline;
                max-width: $max-width-img-mid-text-online-desktop;
            }
        }

    }

    // Formato formulario
    form {
        font-size: $size-font*$size-increase-desktop;
    }

    .volver {

        &:hover {
            @include boton-volver-hover;
        }
    }

}

/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* ****************************************************** */
/* 4. SCSS - ANIMACIONES */
@import "otros/animaciones";