// colores principales
$color-fondo: #1a1A1D;
$color-texto: whitesmoke;
$color-texto-footer: #e90000;
$color-h1: #f4d32d;
$color-h2: #ff0000;
$color-h3: #f2a515;
$color-boton-volver: #ec0000;

// colores secundarios
$color-texto-sec: #FFE400;
$color-boton-volver-sec: $color-fondo;

// colores sombras
$color-sombra-h1: #fbfb00d2;
$color-sombra-h2: #fd4f4f;
$color-sombra-h3: #ffa600;
$color-sombra-texto-footer: #ff02029c;

// tamaños
$logo-nombre-mobile: 60px;
$h1-size: 1.7rem;


// espacios
$gap-mobile: 2rem;